:root {
  --brown: #260801;
  --white: #F2D3AC;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--brown);
}

input:focus {
  outline: none;
  box-shadow: none;
}

.headerEl{
  width: 100vw;
  height: 48px;
  border-bottom: solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 24px;
}

.logoText{
  color: var(--white);
  font-size: 24px;
}

.searchDiv{
  width: 50%;
  margin-right: 24px;
}

.searchInput{
  width: 100%;
  border: solid var(--white);
  height: 24px;
  border-radius: 24px;
  padding-left: 8px;
  color: var(--white);
  font-size: 16px;
}

.searchInput::placeholder {
  color: var(--white);
}