:root {
  --brown: #260801;
  --white: #F2D3AC;
  --dark-white: #D9AB73;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--brown);
}

.hidden{
  opacity: 0;
  z-index: -1 !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  display: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

.newCardDate::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  width: 28px;
}

.blackBlock{
  position: fixed;
  background-color: black;
  opacity: 0.45;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.headerEl{
  width: 100vw;
  height: 48px;
  border-bottom: solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 24px;
}

.logoText{
  color: var(--white);
  font-size: 24px;
}

.searchDiv{
  width: 50%;
  margin-right: 24px;
}

.searchInput{
  width: 100%;
  border: solid var(--white);
  height: 24px;
  border-radius: 24px;
  padding-left: 8px;
  color: var(--white);
  font-size: 16px;
}

.searchInput::placeholder {
  color: var(--dark-white);
}

.mainBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.newCardButton{
  width: 50%;
  height: 48px;
  border: 2px solid var(--white);
  border-radius: 48px;
  margin-top: 16px;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}

.newCardBlock{
  width: 80%;
  height: 80vh;
  border: 2px solid var(--white);
  border-radius: 20px;
  top: 10vh;
  position: fixed;
  z-index: 1001;
}

.newCardBlockTop{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0 0;
  border-bottom: solid var(--white);
}

.newCardName{
  margin-left: 20px;
  color: var(--white);
  border: solid var(--white);
  height: 24px;
  border-radius: 24px;
  padding-left: 8px;
  width: 30%;
  font-size: 16px;
}

.newCardClose{
  background: url('imgs/closeIcon.svg') no-repeat center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.newCardBlockBottom{
  height: calc(100% - 50px);
  border-radius: 0 0 20px 20px;
  display: flex;
}

.newCardText{
  height: 100%;
  width: 60%;
  border-radius: 0 0 0 20px;
  border: none;
  color: var(--white);
  font-size: 16px;
  border-right: 2px solid var(--white);
  padding: 16px;
  box-sizing: border-box;
}

.newCardText::placeholder {
  color: var(--dark-white);
}

.newCardBlockBottomRight{
  width: 40%;
  height: 100%;
  border-radius: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.newCardDate{
  color: var(--white);
  background: url('imgs/calendar.svg') no-repeat right 8px center;
  background-size: contain;
  height: 32px;
  width: 50%;
  border: solid var(--white);
  border-radius: 32px;
  padding-right: 8px;
  font-size: 24px;
  padding-left: 8px;
}

.newCardButton2{
  border: solid var(--white);
  height: 40px;
  width: 60%;
  color: var(--white);
  font-size: 24px;
  border-radius: 40px;
  cursor: pointer;
}

.trashCanIcon{
  width: 50px;
  height: 50px;
  background: url('imgs/trashCan.svg') no-repeat center;
  background-size: contain;
}

.cardContainer{
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 32px;
}

.cardBlock{
  width: 100%;
  border: 2px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.completed{
  border: 5px solid var(--dark-white);
}

.completedName{
  text-decoration: line-through var(--white);
}

.cardBlockTop, .cardBlockBottom{
  display: flex;
  width: 100%;
}

.cardBlockTop{
  justify-content: space-between;
}

.cardBlockBottom{
  margin-top: 16px;
}

.cardName, .cardText, .cardDate, .editButton, .deleteButton{
  color: var(--white);
}

.cardBlockTopRight{
  display: flex;
  align-items: center;
}

.editButton, .deleteButton{
  cursor: pointer;
  border: solid var(--white);
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
}

.editButton{
  margin-right: 16px;
}

.completeCheckbox{
  height: 32px;
  width: 32px;
  margin-right: 16px;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--brown);
  border: 2px solid var(--white);
  border-radius: 8px;
  cursor: pointer;
}

.completeCheckbox:checked{
  background-color: var(--white);
}

.controlPanel{
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1vw;
}

.sortButton{
  cursor: pointer;
  border: solid var(--white);
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  color: var(--white);
  margin-top: 8px;
}

.activeFilter{
  border: solid var(--dark-white);
  color: var(--dark-white);
}

.emptyMessage{
  color: var(--white);
  width: 100%;
  text-align: center;
  font-size: 24px;
}